// Import bulma
@import "../../node_modules/bulma/bulma.sass";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  min-height: 500px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.feedback-form {
  textarea {
    height: 300px;
  }
}
