// Import bulma
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  background-color: #fff;
  width: 90%;
  max-width: 800px;
  min-height: 500px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.session-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.session-description {
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.feedback-form {
  textarea {
    height: 300px;
  }
}

.feedback-item {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.feedback-item-date {
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.feedback-item-message {
  font-size: 1.1rem;
}
